
  <div id="slides">
    <img id='picOne' class ='bakery_pic fade'src="http://www.24online.info/wp-content/uploads/2018/02/abundance-1868573_960_720.jpg" alt="">
    <img id='picTwo' class="bakery_pic fade" src="https://www.sugarandsoul.co/wp-content/uploads/2017/04/best-chewy-bakery-style-chocolate-chip-cookies-11.jpg" alt="">
    <img id='picThree' class="bakery_pic fade" src="https://mdyo8n9ckd3g81vs1qipy6bt-wpengine.netdna-ssl.com/wp-content/uploads/2016/10/FIXED-Bakery-Desserts-1.jpg" alt="">
    <img id='picFour' class="bakery_pic fade" src="https://images.unsplash.com/photo-1523294587484-bae6cc870010?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f87982215b1d45086d3ee86c2e6f7648&auto=format&fit=crop&w=1728&q=80" alt="">
  </div>
  <div class="bakery_grid">
    <div class="grid_pic">
      <a href="cookies"><img id="cc" src="https://www.sugarandsoul.co/wp-content/uploads/2017/04/best-chewy-bakery-style-chocolate-chip-cookies-11.jpg" alt=""></a>
    </div>
    <div class="grid_pic">
      <a href="cookies"><img id="oatmeal" src="https://d2gk7xgygi98cy.cloudfront.net/1040-3-large.jpg" alt=""></a>
    </div>
    <div class="grid_pic">
      <a href="cookies"><img id="sugar" src="https://www.dougheyed.com/wp-content/uploads/2015/09/download-2-750x683.jpg" alt=""></a>
    </div>
    <div class="grid_pic">
      <a href="muffins"><img src="https://d2gk7xgygi98cy.cloudfront.net/316-3-large.jpg" alt=""></a>
    </div>
    <div class="grid_pic">
      <a href="muffins"><img src="https://lifemadesimplebakes.com/wp-content/uploads/2016/02/Double-Chocolate-Muffins-3.jpg" alt=""></a>
    </div>
    <div class="grid_pic">
      <a href="cakes"><img src="http://shopcakeboutique.com/wp-content/uploads/2017/04/cake-photography.jpg" alt=""></a>
    </div>
    <div class="grid_pic">
      <a href="cakes"><img src="http://fisherstudor.com/wp-content/uploads/2014/10/black-white-rose-wedding-cake.jpg"></a>
    </div>
    <div class="grid_pic">
      <a href="cakes"><img src="https://communityfood.coop/wp-content/uploads/2011/04/bakery-6959.jpg" alt=""></a>
    </div>
    <div class="grid_pic">
      <img src="http://www.outsetmedia.com/sites/default/files/70028-doughnuts.jpg" alt="">
    </div>
    <div class="grid_pic">
      <img src="https://i.pinimg.com/originals/55/00/58/55005844899745beef22a07fae73efa8.jpg" alt="">
    </div>
  </div>
  <div class='footer'>
    <a href="#" id='about'>About Us</a>
    <a href="#">Menu</a>
    <a href="#">Store Hours</a>

    <a href="event">Baking Events</a>
    <div id="logos">
      <a href="#"><i class="fab fa-instagram"style="color:brown"></i></a>
      <a href="#"><i class="fab fa-twitter"style="color:brown"></i></a>
      <a href="#"><i class="fab fa-facebook"style="color:brown"></i></a>
    </div>
  </div>
