<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div id="address">90 Yellow Brick Road. Teaneck, NJ 07666</div>
        <div id="title_section">
          <h1 id='logo'><a href="/">Flours for Hours</a></h1>
        </div>
        <div class="nav">
          <a href="cookies">
            <img id="small_cookie" class="animated wobble" src="https://img.clipartxtras.com/b3f0cc285cb41269a4c76566d49008b1_drawn-cookie-transparent-background-pencil-and-in-color-drawn-cookie-clipart-with-transparent-background_564-600.png">
          </a>
          <a href="cakes">
            <img id= "small_cake" class="animated wobble" src="http://pngimagesfree.com/Cake/Thumb/3-layers_cake-png.png">
          </a>
          <a href="muffins">
            <img id="small_muffin" class="animated wobble" src="http://www.stickpng.com/assets/images/58661b837d90850fc3ce2a6a.png">
          </a>
        </div>
      </div>
    <%=yield%>
    </div>
    <script src="main.js"></script>
  </body>
</html>
