html{
  background-color: var(--main-bg-color);
  font-family: 'Kaushan Script', cursive;
}

body{
  margin:0;
  padding:0;
}

:root{
  --main-bg-color: #f7f3f0;
  --main-text-color:#9b6738;
  --main-text-gold:#FFD700;
  --main--darker-gold:#DAA520;
}

#address{
  font-size: 1.2em;
  font-family: 'Kaushan Script', cursive;
  color: var(--main-text-color);
  margin-bottom: 0;
}

#logo{
  font-size: 4.5em;
  font-family: 'Kaushan Script', cursive;
  color: var(--main-text-color);

}

#logo a{
    color: var(--main-text-color);
    text-decoration: none;
}

.nav{
  display: grid;
  height:30%;
  width:100%;
  grid-template: 100%/repeat(3,1fr)
}

.container{
  /* display:grid; */
  width: 80%;
  height: 1800px;
  margin: 0 auto;
  /* grid-template: repeat(4,1fr 1.5fr 1fr 1fr)/repeat(100%) */
}

.header{
  height: 30%;
  text-align: center;
  background-color: var(--main-bg-color);
}

.bakery_grid{
  margin-top: 1%;
  height: 30%;
  display: none;
  grid-template: repeat(2,50%)/repeat(5,1fr);
}

.bakery_grid div img{
  height:100%;
  width:100%;
}


#slides{
  display: none;
  height:40%;
  transition: 5s;
}

#slides img{
  width:100%;
  height:100%;
}

.fade{
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.footer{
  text-align: center;
  height: 100px;
  width: 80%;
  font-size: 1.5em;
  margin: 5% auto;
  display: grid;
  grid-template: repeat(2,1fr)/repeat(4,1fr)
}

.footer a{
  text-decoration: none;
  color: var(--main-text-color)
}

#logos{
  grid-column: 2/4;
  text-align: center;
  margin-top: 10%;
}

#logos a{
  margin: 0 3%;
}



#small_cake{
  width:50%;
  height:100%;
}

#small_muffin{
  width: 50%;
  height: 100%;
  background-color:
}

#small_cookie{
  width: 50%;
  height: 100%;
}

.top_seller_list{
  height: 50%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: 100%/repeat(3, 1fr);
}

.info-grid{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-auto-rows: minmax(500px, auto);
  color: var(--main-text-color);
}

.info-grid h3{
  color: var(--main--darker-gold);
}

.info-grid div{
  border: 1px solid black;
  border-radius: 10%;
  padding: 5%;
  margin: 3%;
  overflow: auto;
  box-shadow: 8px 8px 8px;
}

.grid_pic img{
  opacity:.8;
}

.grid_pic img:hover{
  transform: scale(1.1);
  opacity:1;
}

.order{
  background-color:var(--main-text-color);
  color:var(--main-text-gold);
  box-shadow: 2px 2px 2px black;
  height:5%;
  font-size: .7em;
}

.order:hover{
  background-color: brown;
}

.item{
  font-size: 1.5em;
  padding: 2%;
}

#event_pic{
  width: 100%;
  height: 100%;
}

#event_title{
  font-size: 1.5em;
}

.title_header{
  text-align: center;
  margin: 0% auto;
  font-size: 3em;
  color: #DAA520;
}
